.box-input {
    padding: 2px 2px 2px;
    width: 75px;
}

md-input-container input {
    width: 96%;
}
.test-case {
    border-bottom-color: #989898;
    border-bottom-style: solid;
    border-bottom-width: initial;
}

.result-thing.my-primary {
    color: green;
}
.result-thing.my-warn {
    color: red;
}

.box-conf {
    padding-right: 30px;
}

.brief .discription {
    color: black;
    font-size: 15px;
}

.main-toolbar {
    height: 115px;
}

.md-display-1 {
    line-height: 1px;
    margin-top: 29px;
    margin-bottom: 19px;
}

div.brief {
    width: 300px;
    margin-right: 20px;
}

p.brief {
    margin-top: 2px;
}

.full-div{
    width: inherit;
    height: inherit;
}

.title em{
    text-indent: 5px;
}

.scrollbar-mitigate{ 
    padding-right: 25px;
}

.label-bar {
    padding-bottom: 0px;
    padding-top: 0px;
    min-height: 30px;
    height: 33px;
}
    
div.label-bar {
    padding-bottom: 0px;
    padding-top: 0px; 
}
.box-conf button:first-child {
    margin-top: 0px;
    margin-left: 0px;
}

.box-conf button:last-child {
    margin-top: -13px;
    margin-left: 34px;
}

.text-centered {
    text-align: center;
    color: grey;
}

.invalid .result-thing.my-primary {
    color: rgba(0, 255, 0, 0.5);
}
.invalid .result-thing.my-warn {
    color: rgba(255, 0, 0, 0.5);
}
